.logo-container{
    z-index: 0;
    width: 550px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: auto;
    left: auto;
    margin: auto;

    svg {
        width: 180%;
        height: auto;
        bottom: 0;        
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
    }

   
}