.nav-bar {
    background: #181818;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -85px; // Move further left when hidden
    z-index: 10;
    min-height: 100vh;
    transition: left 0.3s ease-in-out;

    &.open {
        left: 0; // Show when toggled
    }

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 43px;
            height: auto;

            &.sub-logo {
                width: 66px;
            }
        }
    }

    nav {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        a {
            font-size: 25px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            text-decoration: none;

            &:hover {
                color: #ffd700;
            }

            &.active {
                svg {
                    color: #ffd700;
                }
            }
        }
    }

    ul {
        position: absolute;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        list-style: none;
    
        @media (max-width: 768px) {
            bottom: 60px;
        }
    
        @media (max-width: 480px) {
            bottom: 80px;
        }
    
        li {
            a {
                padding: 7px 0;
                font-size: 20px;
                display: block;
    
                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
}    

// Burger Menu Button
.burger-menu {
    position: fixed;
    top: 20px;
    left: 5px; // Move closer to the left edge
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 20;

    &:focus {
        outline: none;
    }
}

// Responsive Styles
@media (max-width: 768px) {
    .nav-bar {
        width: 250px;
        left: -260px; // Move further left when hidden on mobile

        &.open {
            left: 0;
        }
    }

    .burger-menu {
        left: 0px; // Fully align to the left edge on mobile
    }
}